* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  background: url(./Images/mountain-peak-above-3840x2160-12251.jpg) no-repeat;
        background-size: cover
}
.card {
    width: 90%;
    max-width: 470px;
    
    color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
      background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px ;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    outline: 0;
    border: 0;
    background:transparent;
    border-radius: 50%;
    font-size: 30px;
    margin: 0;
    padding:10px;
    
    

}
.search button i {
    color: black;


}
.details img {
width: 50px;
border-radius: 50%;
margin-right: 5px;
}
.weather-icon{
width: 300px;
border-radius: 50%;
margin: 0;


}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    color: black;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
    color: black;

}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 10px;
}
.col p{
    color: black;
}
